.layoutGrid {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.layoutGrid2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "area1 area1"
        "area2 area2";
}

.layoutGrid3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "area1 area2"
        "area3 area4";
}

.layoutGrid4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "area1 area2"
        "area3 area4";
}

.layoutGrid5 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "area1 area2 area5"
        "area3 area4 area5";
}

.layoutGrid6 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "area1 area2 area3"
        "area4 area5 area6"
}
